body {
  width: 98%;
  margin: 0 auto;
  text-align: center;
  font-family: 'IBM Plex Sans', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 700;
}

.legend ul {
  display:block;
  text-align: left;
  margin:10px auto;
  padding: 0;
  width: 95%;
}
.legend ul li {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
}
.legend ul li:before {
  content: "";
  width:30px;
  height: 12px;
  margin-right: 5px;
  display:inline-block;
  vertical-align: middle;
}
.legend ul li.blue:before {
  background-color: #00b0f0;
}
.legend ul li.green:before {
  background-color: #13BD6B;
}
.legend ul li.lightblue:before {
  background-color: #b4e0f0;
}

p.small {
  display: block;
  margin: 40px 0 20px;
  font-size: 12px;
  font-style: italic;
}

footer {
  margin: 40px auto;
  text-align: center;
}
footer p {
  font-weight: bold;
  font-size: 12px;
}


/****************** MAP STYLES ******************/
.primary-map a path.florida, .primary-map a path.texas, .primary-map a path.northeast, .primary-map a path.western {
  fill:#00b0f0;
  stroke:transparent;
  opacity:.10;
}
.primary-map a:hover path.florida, .primary-map a:hover path.texas, .primary-map a:hover path.northeast, .primary-map a:hover path.western {
  fill:#00b0f0;
  stroke:#fff;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity:0.75;
  isolation:isolate;
}

.primary-map a g.reliabilityFirst path, .primary-map a g.reliabilityFirst polyline {
  fill:#00b0f0;
  stroke: transparent;
  opacity:.10;
}
.primary-map a:hover g.reliabilityFirst path {
  fill:#00b0f0;
  stroke: #fff;
  opacity:0.75;
}
.primary-map a:hover g.reliabilityFirst polyline {
  fill:#00b0f0;
  stroke: #fff;
  opacity:0.75;
}

.primary-map a g.southeast_1 path, .primary-map a g.southwest path, .primary-map a g.midwest path {
  fill:#00b0f0;
  stroke:transparent;
  opacity:.10;
}
.primary-map a g.southeast_1 polyline {
  fill:transparent;
}
.primary-map a g.midwest polyline {
  fill:transparent;
  stroke: transparent;
}
.primary-map a:hover g.midwest polyline, .primary-map a.active g.midwest polyline  {
  fill:#f2f2f2;
  stroke: #fff;
}

.primary-map a:hover g.southeast_1 path, .primary-map a:hover g.southwest path, .primary-map a:hover g.midwest path {
  fill:#00b0f0;
  stroke:#fff;
  stroke-linecap:round;
  stroke-linejoin:round;
  opacity:0.75;
  isolation:isolate;
}

a #middle-group {
  fill:transparent;
  stroke: transparent;
}
a:hover #middle-group, a.active #middle-group {
  fill: #80d7f7;
  stroke: #fff;
}

.primary-map a.active path, .primary-map a.active g path {
  fill:#00b0f0;
  stroke:#fff;
  opacity:.75;
}

.primary-map a {
  position: relative;
}
.primary-map a div.overlay {
  display: none;
}
.primary-map a:hover div.overlay {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 300px;
  background: white;
  color: black;
}
.charts .chart_1 {
  display: none;
}
.charts .chart_1_mobile {
  display:block;
  width:100%;
}
.charts .chart_2 {
  display: block;
  width: 100%;
}
.charts .chart_3 {
  display: block;
  width: 100%;
}
.charts .chart_3 h3 {
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;
  margin: 6px 0 22px 90px;
  text-align:left;
}
.charts .chart_3 ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.charts .chart_3 ul li {
  color: #222;
  font-size: 18px;
  line-height: 44px;
  border-bottom: 1px solid #F2F2F2;
  text-align: left;
}
.charts .chart_3 ul li.negative {
  color: #d72820;
}
.charts .chart_3 ul li span {
  color: #222;
  font-size: 14px;
  text-align: center;
  float: left;
  width: 80px;
  font-weight: 700;
  margin-right: 30px;
}
.charts .chart_3 ul li.negative > span {
  color:#222;
}

/****************** TABLET AND UP ******************/
@media screen and (min-width:768px) {
  .legend ul {
    display: block;
    margin: 0 auto 50px;
    padding: 0;
    text-align: left;
    width: 100%;
    list-style-type: none;
  }
  .legend ul li {
    display: block;
    text-align: left;
    margin:10px 0px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
  }
  .legend ul li:first-child {
    margin-left: 0;
  }
  .charts {
    display: block;
    width: 100%;
  }
  .charts:before, .charts:after {
    content: "";
    display: table;
    clear: both;
  }
  .charts .chart_1_mobile {
    display: none;
  }
  .charts .chart_1 {
    display: inline-block;
    float:left;
    width: calc(50% - 105px);
  }
  .charts .chart_2 {
    display: inline-block;
    float:left;
    width: calc(50% - 20px);
  }
  .charts .chart_3 {
    display: inline-block;
    width: 120px;
  }
  .charts .chart_3 h3 {
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    margin: 6px 0 22px;
    text-align: center;
  }
  .charts .chart_3 ul li {
    text-align: center;
  }
  .charts .chart_3 ul li span {
    display: none;
  }
}
/****************** SMALL LAPTOPS ******************/
@media screen and (min-width: 1024px) {
  .map {
    width: 40%;
    margin: 0 auto;
    float: left;
  }
  .primary-map {
    width: 100%;
    margin: 0 auto;
  }
  .chartInfo {
    width:60%;
    margin: 0 auto;
    float: left;
    text-align: left;
  }
  p.small {
    margin: 0 auto;
  }
  footer:before, footer:after {
    content: '';
    display: table;
    clear: both;
    margin: 40px 0;
  }
}
/****************** SMALL LAPTOPS ******************/
@media screen and (min-width: 1280px) {
  .map {
    width: 50%;
    margin: 0 auto;
    float: left;
  }
  .primary-map {
    width: 100%;
    margin: 0 auto;
  }
  .chartInfo {
    width:50%;
    margin: 0 auto;
    float: left;
    text-align: left;
  }
}
/****************** LAPTOPS ******************/
@media screen and (min-width: 1440px) {
  /* body {
    width: 60%;
    margin: 0 auto;
  } */
  .map {
    width: 60%;
  }
  .chartInfo {
    width:40%;
  }
}

/***************** LARGER COMPUTERS *******************/
@media screen and (min-width: 1600px) {
  .legend ul li {
    display: inline;
    text-align: left;
    margin:20px 10px;
    position: relative;
    font-size: 14px;
    font-weight: 400;
  }
  .legend ul li:first-child {
    margin-left: 0;
  }
}



.chartInfo > div {
  display: none;
}
